html, body{
    margin: 0px;
    padding: 0px;
}
h1{
    font-family: 'Julius Sans One', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-left: 0px;
}
#intro h2{
    text-align: center;
    padding-left: 0px;
}
h3{
    font-family:'Julius Sans One', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 100;
    font-style: normal;
}
#main p{
    color: rgba(27, 14, 14, 0.692);
    padding-right: 550px;
}
#container{
    margin: 0px;
    padding: 0px;
}
#main{
    margin: 0px;
}
#intro{
    background-image: url("../images/intro.png");
    width: 100%;
    height: 250px;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#about{
    padding-left: 100px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 0px;
    text-align: justify;
    line-height: 25px;
}
#participation{
    background-image: url('../images/part.png');
    z-index: -1;
    margin: 0px;
    padding: 20px 0px;
    padding-left: 100px;
    text-align: justify;
    line-height: 25px;
}
#requirements{
    margin: 0px;
    padding: 20px 0px;
    padding-left: 100px;
    text-align: justify;
    line-height: 25px;
    background-image: url("../images/require.png");
}
#sidebar{
    height: 290px;
    width: 34%;
    background-color: azure;
    position: absolute;
    left: 0%;
    top: 0; 
    opacity: 0.5;
    margin: 0px;
    z-index: 1;
    margin: 0px;
}
#designer{
    background-image: url("../images/designer.png");
    background-size:auto auto;
    height: 200px;
    background-repeat: no-repeat;
    padding: 20px 0px;
}
#designer-text{
    text-align: center;
    font-family: 'Libre Baskerville', sans-serif;
    font-style: italic;
    padding-top: 60px;
    font-size: 20px;
    color: #A7B5B6;
}
#designer a{
    color: #E67E22;
    text-decoration: none;
}
#designer a:hover{
    text-decoration: underline;
}
#footer{
    display: flex;
    width: 600px;
    height: 120px;
    margin: auto;
}
footer{
    background-color: rgba(48, 11, 11, 0.63);
   
}
footer img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 20px 20px;
}
footer img:hover{
opacity: 0.5;
}
#about
{
    background-image: url("../images/about.png");
}