.AboutMe
{
    font-family: Arial, Helvetica, sans-serif;
    background-color:antiquewhite;
    color: black;
}


h1{
    color:cadetblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:50px;
    
}
h2{
    color:cadetblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    
}
h3{
    color:cadetblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
.FontBold
{
    font-weight: bold;
}
p
{
    font-size: 15px;
    transform: scale(1, -1);
  
}
p::first-letter
{
    font-size: 30px;
}
ul{
    font-size: 15px;
}
.mainIndex{
    font-size: 15px;
}
ol{
    font-size: 15px;
}
.emoji
{
    font-size: 20px;
}
.SubInfo
{
    list-style-type: none;
    text-indent: -2.5%;
    color:yellow;
}
.InfoText
{
    transform: scale(1, 1);

}



a:link { color: #FF0000; text-decoration: none}
a:visited { color: #FF0000; text-decoration: none}
a:hover { color: #3366CC; text-decoration: underline}
a:active { color: #000000; text-decoration: none}